/SmallTask2.class
/Task29_BiggerNumber.class
/Task30_EvenOddNumber.class
/Task31_TriangleAngles.class
/Task32_LargestNumber.class
/Task33_Grading.class
/Task34_AverageGrading.class
/Task36_Calculator.class
/ifElseifStatenment.class
/nestedIfStatenment.class
/package-info.class
/switchStatement.class
/task35FindGreatestNumberNested.class
