/TaskExtra.class
/forLoop.class
/package-info.class
/task40_EvenNumbers.class
/task41_OddNumbers.class
/task42_SumOfEvenOddNumbers.class
/task43_PrintTable.class
/task44_SpeedConverter.class
/task45_RepeatedBiggerNumber.class
/task46_MultiplicationTable.class
/ternaryOperator.class
