/CombineR.class
/IntgerToStringToInteger.class
/declaringArrayList.class
/isPos.class
/package-info.class
/removeAll.class
/removeEveryOthers.class
/swap.class
/switch11.class
/timeConversion.class
/twoTimes.class
